PORT=5000
NODE_ENV=development

MONGODB_URI=mongodb://127.0.0.1:27017/kabi-notes

JWT_SECRET=super_secret_kabi_notes_jwt_key_2026_change_in_prod
JWT_EXPIRES_IN=7d

CLIENT_URL=http://localhost:5173

# Nodemailer SMTP Configuration
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
